.navbar img {
    width: 5%;
    border-radius: 30%;
    margin: 0.5rem;

}

.navbar div {}

.navbar {
    background-color: #2596be;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fafafa;

    border: 35px solid;
    border-image-width: 2rem;
    border-image: url("../../../public//rahmen.png");
    border-image-slice: 41%;
    text-align: center;
    /* border: black outset 5px; */
    background-color: #d4a373;
    padding: 1rem;
}